{% extends 'base.html.twig' %}

{% block title %}Editar formato{% endblock %}

{% block body %}
    <h1 class="titulo">Editar formato</h1>

    {{ include('formato/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a class="btn btn-primary" href="{{ path('formato_index') }}">Volver al listado</a>

    
{% endblock %}
