{% extends 'base.html.twig' %}

{% block title %}Editar formato{% endblock %}

{% block body %}
    <h1 class="titulo">Editar formato</h1>

    {{ include('formato/_form.html.twig', {'button_label': 'Actualizar'}) }}

    
{% endblock %}
