{% extends 'base.html.twig' %}

{% block title %}Nuevo formato{% endblock %}

{% block body %}
    <h1 class="titulo">Crear nuevo formato</h1>

    {{ include('formato/_form.html.twig') }}

   
{% endblock %}
