{% extends 'base.html.twig' %}

{% block title %}New Formato{% endblock %}

{% block body %}
    <h1>Create new Formato</h1>

    {{ include('formato/_form.html.twig') }}

   <a class="btn btn-primary" href="{{ path('formato_index') }}">Volver al listado</a>
{% endblock %}
