{% extends 'base.html.twig' %}

{% block title %}Editar Pokemon - Habilidad{% endblock %}

{% block body %}
    <h1 class="titulo">Editar Pokemon - Habilidad</h1>

    {{ include('poke_tiene_habilidad/_form.html.twig', {'button_label': 'Actualizar'}) }}

  
{% endblock %}
