{% extends 'base.html.twig' %}

{% block title %}Nuevo Pokemon - Habilidad{% endblock %}

{% block body %}
    <h1 class="titulo">Nuevo Pokemon - Habilidad</h1>

    {{ include('poke_tiene_habilidad/_form.html.twig') }}

   
{% endblock %}
