{% extends 'base.html.twig' %}

{% block title %}Crear nuevo Jugador - Poke - Campeonato{% endblock %}

{% block body %}
    <h1 class="titulo">Crear nuevo Jugador - Poke - Campeonato</h1>

    {{ include('jugador_pokes_campeonato/_form.html.twig') }}

    
{% endblock %}
