{% extends 'base.html.twig' %}

{% block title %}Editar Pokemon - Partner{% endblock %}

{% block body %}
    <h1 class="titulo">Editar Pokemon - Partner</h1>

    {{ include('pokemon_tiene_partner/_form.html.twig', {'button_label': 'Actualizar'}) }}

    
{% endblock %}
