<form method="post" action="{{ path('movimiento_delete', {'idMov': movimiento.idMov}) }}" onsubmit="return confirm('Seguro que quieres borrarlo?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ movimiento.idMov) }}">
    <button class="btn btn-primary">Borrar</button>
</form>
