{% extends 'base.html.twig' %}

{% block title %}Editar movimiento{% endblock %}

{% block body %}
    <h1>Editar movimiento</h1>

    {{ include('movimiento/_form.html.twig', {'button_label': 'Actualizar'}) }}

   

{% endblock %}
