{% extends 'base.html.twig' %}

{% block title %}Nuevo movimiento{% endblock %}

{% block body %}
    <h1>Crear nuevo movimiento</h1>

    {{ include('movimiento/_form.html.twig') }}

    <a href="{{ path('movimiento_index') }}">Volver al listado</a>
{% endblock %}
