<form method="post" action="{{ path('poke_puede_aprender_mov_borrar', {'formato': format.id, 'poke': pokemon.idpoke,
                     'mov': ataques[i].movimiento.idmov}) }}" onsubmit="return confirm('Seguro que quieres borrarlo?');">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-primary">Borrar</button>
</form>
