{% extends 'base.html.twig' %}

{% block title %}Editar Pokemon - Movimiento{% endblock %}

{% block body %}
    <h1 class="titulo">Editar Pokemon - Movimiento</h1>

    {{ include('poke_puede_aprender_mov/_form.html.twig', {'button_label': 'Actualizar'}) }}

   
    
{% endblock %}
