{% extends 'base.html.twig' %}

{% block title %}Edit PokePuedeAprenderMov{% endblock %}

{% block body %}
    <h1>Edit PokePuedeAprenderMov</h1>

    {{ include('poke_puede_aprender_mov/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a class="btn btn-primary" href="{{ path('poke_puede_aprender_mov_index') }}">Volver al listado</a>

    {{ include('poke_puede_aprender_mov/_delete_form.html.twig') }}
{% endblock %}
