{% extends 'base.html.twig' %}

{% block title %}Nuevo Pokemon - Movimiento{% endblock %}

{% block body %}
    <h1 class="titulo">Nuevo Pokemon - Movimiento</h1>

    {{ include('poke_puede_aprender_mov/_form.html.twig') }}

   
{% endblock %}
