{% extends 'base.html.twig' %}

{% block title %}Editar habilidad{% endblock %}

{% block body %}
    <h1 class="titulo">Editar habilidad</h1>

    {{ include('habilidad/_form.html.twig', {'button_label': 'Actualizar'}) }}

   
   
{% endblock %}
