<form method="post" action="{{ path('objeto_delete', {'idobjeto': objeto.idobjeto}) }}" onsubmit="return confirm('Seguro que quieres borrarlo?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ objeto.idobjeto) }}">
    <button class="btn btn-primary">Borrar</button>
</form>
