{% extends 'base.html.twig' %}

{% block title %}Editar objeto{% endblock %}

{% block body %}
    <h1>Editar objeto</h1>

    {{ include('objeto/_form.html.twig', {'button_label': 'Actualizar'}) }}

   

{% endblock %}
