{% extends 'base.html.twig' %}

{% block title %}Nuevo objeto{% endblock %}

{% block body %}
    <h1 class="titulo">Crear nuevo objeto</h1>

    {{ include('objeto/_form.html.twig') }}

   
{% endblock %}
