<form method="post" action="{{ path('poke_usa_obj_borrar', {'formato': format.id, 'poke': pokemon.idpoke,
'obj': object.objetoIdobjeto.idobjeto}) }}" onsubmit="return confirm('Seguro que quieres borrarlo?');">
    <input type="hidden" name="_method" value="DELETE">
    
    <button class="btn btn-primary">Borrar</button>
</form>
