{% extends 'base.html.twig' %}

{% block title %}Nuevo Pokemon - Objeto{% endblock %}

{% block body %}
    <h1 class="titulo">Nuevo Pokemon - Objeto</h1>

    {{ include('poke_usa_obj/_form.html.twig') }}

   
{% endblock %}
