{% extends 'base.html.twig' %}

{% block title %}Nuevo Pokemon - Objeto{% endblock %}

{% block body %}
    <h1 class="titulo">Nuevo Pokemon - Objeto</h1>

    {{ include('poke_usa_obj/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('poke_usa_obj_index') }}">Volver al listado</a>
{% endblock %}
