{% extends 'base.html.twig' %}

{% block title %}Edtiar Pokemon - Formato{% endblock %}

{% block body %}
    <h1 class="titulo">Edtiar Pokemon - Formato</h1>

    {{ include('pokemon_esta_en_formato/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a class="btn btn-primary" href="{{ path('pokemon_esta_en_formato_index') }}">Volver al listado</a>

    
{% endblock %}
