{% extends 'base.html.twig' %}

{% block title %}Nuevo Pokemon - Formato{% endblock %}

{% block body %}
    <h1 class="titulo">Nuevo Pokemon - Formato</h1>

    {{ include('pokemon_esta_en_formato/_form.html.twig') }}

   
{% endblock %}
