<form method="post" action="{{ path('spread_delete', {'idspread': spread.idspread}) }}" onsubmit="return confirm('Seguro que quieres borrarlo?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ spread.idspread) }}">
    <button class="btn btn-primary">Borrar</button>
</form>
