{% extends 'base.html.twig' %}

{% block title %}Editar campeonato{% endblock %}

{% block body %}
    <h1 class="titulo">Editar campeonato</h1>

    {{ include('campeonato/_form.html.twig', {'button_label': 'Actualizar'}) }}

    

    
{% endblock %}
