{% extends 'base.html.twig' %}

{% block title %}Editar Pokemon - Spread{% endblock %}

{% block body %}
    <h1 class="titulo">Editar Pokemon - Spread</h1>

    {{ include('pokemon_tiene_spread/_form.html.twig', {'button_label': 'Actualizar'}) }}

    
{% endblock %}
