{% extends 'base.html.twig' %}

{% block title %}Nuevo Pokemon - Spread{% endblock %}

{% block body %}
    <h1 class="titulo">Nuevo Pokemon - Spread</h1>

    {{ include('pokemon_tiene_spread/_form.html.twig') }}

    
{% endblock %}
