{% extends 'base.html.twig' %}

{% block title %}Nuevo pokemon{% endblock %}

{% block body %}
    <h1 class="titulo">Nuevo pokemon</h1>

    {{ include('poke/_form.html.twig') }}
    
{% endblock %}
