{% extends 'base.html.twig' %}

{% block title %}Nuevo Pokemon{% endblock %}

{% block body %}
    <h1 class="titulo">Nuevo Pokemon</h1>

    {{ include('poke/_form.html.twig') }}
    
{% endblock %}
