{% extends 'base.html.twig' %}

{% block title %}Nuevo artículo{% endblock %}

{% block body %}
    <h1 class="titulo">Nuevo artículo</h1>

    {{ include('articulo/_form.html.twig') }}

   
{% endblock %}
